@import './base.css';

@font-face {
  font-family: 'Noto Sans TC';
  src: url('./fonts/NotoSansTC-VariableFont_wght.ttf');
}

body {
  font-family: 'Noto Sans TC';
}

input[type='checkbox'] {
  accent-color: theme('colors.powder-blue.700');
}

.v-toast {
  padding: 8px;
}

.v-toast__item .v-toast__text {
  padding: 0.5rem 1rem;
}

.v-toast__item {
  min-height: 3rem;
}
